[ application ]
#
# Listen address, one of:
#
#   tcp:host:port
#   tcp:port
#   unix:filename
#   host:port
#   :port
#
#
#listen          = :8438
listen          = unix:.clammit.sock

#
# Ignore the `X-Clammit-Backend` header, and forward all requests to this application
#
#application-url = http://localhost:9240/

#
# URL of the CLAMD server
#
#clamd-url       = tcp://localhost:3310
clamd-url       = unix:/var/run/clamav/clamd.ctl

# Set this to a log file to redirect all output
log-file        = log/clammit.log

#
# Set this to true to have this application serve an upload form to test
# the virus scanning
#
#test-pages      = true

#
# if true, it will not perform TLS certificate verification, allowing connections 
# to servers using self-signed or otherwise untrusted certificates. Use with care, 
# it is always preferable to perform certificate verification.
# default = false
#
#ssl-skip-verify = false
