[ application ]
#
# Listen address, one of:
#
#   tcp:host:port
#   tcp:port
#   unix:filename
#   host:port
#   :port
#
#
#listen          = :8438
listen          = unix:.clammit.sock

#
# Ignore the `X-Clammit-Backend` header, and forward all requests to this application
#
#application-url = http://localhost:9240/

#
# URL of the CLAMD server
#
#clamd-url       = tcp://localhost:3310
clamd-url       = unix:/var/run/clamav/clamd.ctl

# Set this to a log file to redirect all output
log-file        = log/clammit.log

#
# The maximum file size to scan. Files larger than this will not be scanned.
# This can be specified as a string using units like "KB", "MB", or "GB".
# For example, "10MB" would set the maximum file size to 10 megabytes.
# If this setting is not provided, the default value is 25MB.
#max-file-size = 10MB

#
# Set this to true to have this application serve an upload form to test
# the virus scanning
#
#test-pages      = true
